* {
    padding: 0;
    margin: 0;
}
body {
    background-attachment: fixed;
    background-color: #313131;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='513' height='61.6' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23242424' stroke-width='22.3' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}
html, body {
    height: 100%;
}

/* header */
.HeaderContainer {
    width: 100%;
    height: 70px;
    background-color: rgb(24, 24, 24);
    box-shadow: 0px 4px 0px #f4d003;
}
.TextContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.HeaderContainer p {
    font-size: 40px;
    color: #f4d003;
    font-family: Arial;
    font-weight: bold;
    text-shadow: 0px 2px 7px rgb(34, 34, 34);
}
.HeaderContainer p:first-child {
    color: white;
    font-weight: 100;
}
.HeaderContainer p:last-child {
    font-size: 15px;
    color: gray;
    padding-left: 5px;
    margin-bottom: -18px;
}

/* video grid */
.gridcontainer {
    width: calc(100% - 40px);
    padding: 20px;

    flex: 0;
}

.videoproduct {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}
.videoproduct .videoitem {
    display: flex;
    margin: 5px;
    flex: 1;
}
.videoproduct .videoitem video {
    height: 400px;
    min-width: 400px;
    width: 100%;
    max-width: 720px;

    border-radius: 5px;
    border-width: 4px;
    border-color: #363636;
    border-style: solid;

    background-color: #242424e7;
}

@media screen and (max-width:500px) {
    .videoproduct .videoitem video {
        min-width: 100%;
    }
    .videoproduct {
        flex-direction: column;
    }
}