@font-face {
    font-family: 'mainfont';
    /* add more font types */
    src: url('san_francisco\SF UI\SF-UI-Display\SF-UI-Display-Regular.otf') format('opentype');
}
* {
    margin: 0;
    font-family: 'mainfont', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: rgb(60, 60, 60);
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
body, html {
    height: 100%;
}

.MainContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-grow: 1;
}

/* Header */
.HeaderContainer {
    height: 200px;
    position: relative;
    overflow: hidden;
    cursor: default;
}
.HeaderBg {
    background-image: url("images/mountains.jpg");
    background-position: center;
    background-size: 100%;
    z-index: -1;

    position: absolute;
    left: 0;
    top: 0;
    
    filter: blur(3px);
    /*no white edges on blur*/
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    margin: -8px;
}
.HeaderText {
    text-align: center;
    padding-top: 50px;
    color: white;
}
.HeaderText p {
    display: inline;
    margin: 0px;
}
.textzim {
    padding-left: 30px;
    font-size: 90px;
}
.textro {
    font-size: 20px;
}
.HeaderDescription {
    margin-top: -15px;
    color: white;
    text-align: center;
    display: block;
}

/* Navigation */
.NavContainer {
    background-color: rgb(24, 24, 24);
    height: auto;
}
.NavContainer ul {
    display: flex;
    justify-content: center;
    color: white;

    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 0px;
}
.NavContainer ul li {
    float: left;
    list-style: none;

    padding-left: 2px;
    padding-right: 2px;
    margin-left: 2px;
    margin-right: 2px;

    font-size: 18px;
    transition: 0.3s;
    cursor: pointer;
}
.NavContainer ul li a {
    text-decoration: none;
    color: white;
}
.NavContainer ul li:hover{
    background-color: rgb(100, 100, 100);
    border-radius: 2px;
}

footer {
    background-color: rgb(24, 24, 24);
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;

    flex: 0;
    flex-grow: 0;
}
footer p {
    color: white;
    margin: 0px;
}