* {
    margin: 0;
}
body {
    background-color: rgb(60, 60, 60);
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body, html {
    height: 100%;
}

.MainContainer {
    flex: 1;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.HeaderContainer {
    height: 200px;
    position: relative;
    overflow: hidden;
}
.HeaderBg {
    background-image: url("mountains.jpg");
    background-position: center;
    background-size: 100%;
    z-index: -1;

    position: absolute;
    left: 0;
    top: 0;
    
    filter: blur(3px);
    /*no white edges on blur*/
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    margin: -8px;
}
.HeaderText {
    text-align: center;
    padding-top: 50px;
    color: white;

    transition: 0.5s;
}
.HeaderText p {
    display: inline;
    margin: 0px;
}
.textzim {
    padding-left: 30px;
    font-size: 90px;
}
.textro {
    font-size: 20px;
}
.HeaderDescription {
    margin-top: -15px;
    padding-top: -50px;
    color: white;
    text-align: center;
    display: block;
}

.NavContainer {
    background-color: rgb(24, 24, 24);
    height: 27px;
}
.List {
    padding-top: 3px;
    display: flex;
    justify-content: center;
    color: white;
}
ul {
    padding-left: 0px;
    margin: 0px;
}
li {
    float: left;
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    transition: 0.3s;
}
li:hover{
    background-color: rgb(100, 100, 100);
}

.ContentFiller {
    /*background-color: grey;*/
    width: 100%;
    height: calc(100% -15px);
    margin: 15px;
}
.ContentFiller h1{
    margin: 10px;
    color: white;
}
.ContentFiller p{
    font-size: 17px;
    margin: 10px;
    color: white;
}
.HorizontalSeparator2 {
    background-color: grey;
    height: 1px;
    margin: 10px;
}
.dogpat {
    width: 400px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
}

.SocialsContainer {
    display: flex;
    flex-direction: row;

    flex: 1;
    flex-grow: 1;
}
.Socials {
    margin: 15px;
}
.HorizontalSeparator {
    background-color: grey;
    height: 1px;
    margin-top: 15px;
}
.SocialsColumnSeparator {
    background-color: gray;
    width: 1px;
    margin-top: 15px;
    margin-bottom: 15px;

    flex-shrink: 0;
}
.SocialLinks {
    color: white;
    margin-top: 10px;
}
.SocialLinks a {
    display: block;
}
.SocialIcons {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    height: 55px;
}
.SocialIcons img {
    width: 50px;
    height: 50px;
    padding-left: 5px;
    
    transition: 100ms;
}
.SocialIcons img:hover {
    transform: scale(1.07);
}
.HorizontalSeparator3 {
    background-color: grey;
    height: 1px;
    margin-bottom: 10px;
}

footer {
    background-color: rgb(24, 24, 24);
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;

    flex: 0;
    flex-grow: 0;
}
footer p {
    color: white;
    margin: 0px;
}